.page .icon-primary[data-novi-id="213"] {
  color: #333;
}
[data-novi-id="213"] {
  font-weight: 700;
  color: #f90;
  text-align: left;
  text-decoration: underline;
  
  
}
[data-novi-id="212"]{
  text-align: left;
}
[data-novi-id="211"] {
  font-weight: 700;
  color: #333;
  font-size: 12px;
  
}
[data-novi-id="210"] {
  color: #fff;
  text-align: left;
  font-style: italic;
}
[data-novi-id="49"] {
  color: rgb(10, 10, 10);
}
[data-novi-id="48"] {
  color: #333;
}
[data-novi-id="48"] {
  color: #333;
  text-transform: capitalize;
}
[data-novi-id="48"] {
  color: #333;

}
[data-novi-id="48"] {
  text-align: left;
  color: #333;
}
[data-novi-id="47"] {
  color: rgb(15, 15, 15);
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  
}
[data-novi-id="209"]{
  font-weight: 700;
}
[data-novi-id="208"]{
  font-weight: 700;
}
[data-novi-id="207"]{
  font-weight: 700;
}
[data-novi-id="206"]{
  font-weight: 700;
}
[data-novi-id="205"]{
  font-weight: 700;
}
[data-novi-id="204"]{
  font-weight: 700;
}
[data-novi-id="203"]{
  font-weight: 700;
}
[data-novi-id="202"]{
  font-weight: 700;
}
[data-novi-id="201"]{
  font-weight: 700;
}
[data-novi-id="200"]{
  font-weight: 700;
}
[data-novi-id="199"]{
  font-weight: 700;
}
[data-novi-id="198"]{
  font-weight: 700;
}
[data-novi-id="197"]{
  font-weight: 700;
}
[data-novi-id="196"]{
  font-weight: 700;
}
[data-novi-id="195"]{
  font-weight: 700;
  font-size: 25px;
}
[data-novi-id="194"]{
  font-weight: 700;
}
[data-novi-id="193"]{
  font-weight: 700;
}
[data-novi-id="192"]{
  font-weight: 700;
}
[data-novi-id="191"]{
  font-weight: 700;
}
[data-novi-id="190"]{
  font-weight: 700;
}
[data-novi-id="189"]{
  font-weight: 700;
}
[data-novi-id="188"]{
  font-weight: 700;
}
[data-novi-id="187"]{
  font-weight: 700;
}
[data-novi-id="186"]{
  font-weight: 700;
}
[data-novi-id="185"]{
  font-weight: 700;
  font-size: 25px;
}
[data-novi-id="184"]{
  font-weight: 700;
}
[data-novi-id="183"]{
  font-weight: 700;
}
[data-novi-id="182"]{
  font-weight: 700;
}
[data-novi-id="181"]{
  font-weight: 700;
}
[data-novi-id="180"]{
  font-weight: 700;
}
[data-novi-id="179"]{
  font-weight: 700;
  
}
[data-novi-id="178"]{
  font-weight: 700;
  
}
[data-novi-id="177"]{
  font-weight: 700;
  
}
[data-novi-id="176"]{
  font-weight: 700;
  
}
[data-novi-id="175"]{
  font-weight: 700;
}
[data-novi-id="174"]{
  font-weight: 400;
  color: #030303;
  text-transform: none;
  font-size: 25px;
}
[data-novi-id="173"]{
  font-weight: 700;
  color: #030303;
  
}
[data-novi-id="172"]{
  color: #333;
  
  
}
[data-novi-id="171"]{
  color: #333;
  text-transform: none;
}
[data-novi-id="170"]{
  font-weight: 400;
  text-transform: none;
}
[data-novi-id="169"]{
  font-weight: 400;
  text-transform: none;
}
[data-novi-id="168"]{
  font-weight: 400;
}
[data-novi-id="167"]{
  font-weight: 400;
  text-align: left;
}
[data-novi-id="166"]{
  font-size: 33px;
  letter-spacing: -0.2px;
  line-height: 36px;
}
[data-novi-id="165"]{
  font-size: 33px;
  letter-spacing: -0.2px;
  line-height: 36px;
}
[data-novi-id="164"] {
  color: #333;
  font-weight: 300;

}
[data-novi-id="164"] {
  color: #333;
  
}
[data-novi-id="163"] {
  color: #333;
  text-align: left;

}
[data-novi-id="163"] {
  color: #333;
  text-transform: capitalize;
}
[data-novi-id="162"] {
  color: #333;
  text-transform: none;
  
}
[data-novi-id="162"] {
  color: #333;
  
}
[data-novi-id="161"] {
  color: #333;
  text-align: left;

}
[data-novi-id="161"] {
  color: #333;
  text-transform: capitalize;
}
[data-novi-id="160"] {
  font-weight: 700;
  font-size: 52px;
}
[data-novi-id="159"] {
  color: #333;
  text-transform: uppercase;
  
  font-size: 52px;
  font-weight: 400;
}
[data-novi-id="158"] {
  color: #333;
  text-transform: uppercase;
}
[data-novi-id="158"] {
  color: #333;
  text-transform: uppercase;
}
[data-novi-id="157"] {
  color: #333;
  text-transform: uppercase;
  font-size: 52px;
}
[data-novi-id="156"]{
  font-weight: 700;
  color: #080808;
  
}
[data-novi-id="155"]{
  font-weight: 700;
  
  color: #0a0a0a;
}
[data-novi-id="154"]{
  font-weight: 700;
  color: #050505;
  
}
[data-novi-id="153"]{
  font-weight: 700;
  color: #030303;
  
}
[data-novi-id="152"]{
  
  color: #333;
  
  text-transform: none;
}
[data-novi-id="151"]{
  font-weight: 400;
  color: #030303;
  text-align: left;
}
[data-novi-id="150"]{
  font-weight: 300;
  color: #333;
}
[data-novi-id="149"]{
  
  font-weight: 400;
  color: #333;
  
  text-align: left;
}
[data-novi-id="148"]{
  font-weight: 700;
  color: #030303;
  color: #050505;
}
[data-novi-id="147"]{
  font-weight: 700;
  color: #333;
  color: #080808;
}
[data-novi-id="146"]{
  font-weight: 700;
  color: #030303;
  color: #030303;
}
[data-novi-id="145"]{
  font-weight: 700;
  color: #050505;
  
}
[data-novi-id="144"]{
  
  color: #333;
  
  font-weight: 300;
  
}
[data-novi-id="143"]{
  font-weight: 700;
  color: #030303;
}
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

[data-novi-id="142"] {
  color: #333;
  color: #f7f7f7;
  color: #030303;
  font-weight: 700;
}

[data-novi-id="142"] {
  color: #333;
  text-transform: capitalize;
}

[data-novi-id="142"] {
  color: #050505;

}

[data-novi-id="141"] {
  font-weight: 700;
  font-weight: 700;
  color: #f0f0f0;
  color: #030303;
}

[data-novi-id="140"] {
  
  color: #ffffff;
  
  color: #050505;
  
  font-weight: 700;
}

[data-novi-id="139"] {
  color: #333;
  font-weight: 700;
}

[data-novi-id="139"] {
  color: #333;
  text-transform: capitalize;
}

[data-novi-id="139"] {
  color: #f7f7f7;

}

[data-novi-id="138"] {
  font-weight: 700;
  font-weight: 700;
  color: rgb(255, 255, 255);
  
}

[data-novi-id="137"] {
  color: #333;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

[data-novi-id="137"] {
  color: #333;
  text-transform: capitalize;
}

[data-novi-id="137"] {
  color: rgba(111, 114, 125, 1);

}

[data-novi-id="136"] {
  font-weight: 700;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

[data-novi-id="135"] {
  font-weight: 700;
}

[data-novi-id="134"] {
  font-weight: 700;
}

[data-novi-id="133"] {
  font-weight: 700;
  
}

[data-novi-id="129"] {
  font-weight: 700;
  font-size: 12px;
}

[data-novi-id="128"] {
  font-weight: 700;
  font-size: 12px;
}

[data-novi-id="133"] {
  
  text-transform: uppercase;
}

[data-novi-id="132"] {
  color: #333;
  text-transform: uppercase;
  font-size: 15px;
  
}

[data-novi-id="131"] {
  color: #333;
  text-transform: none;
  
  font-weight: 700;
  
  
}

[data-novi-id="130"] {
  color: #333;
  text-transform: uppercase;
  color: #e6fffe;
  font-size: 66px;
  font-size: 12px;
  font-weight: 700;
}

[data-novi-id="129"] {
  color: #333;
  text-transform: uppercase;
}

[data-novi-id="128"] {
  color: #333;
  text-transform: uppercase;
}

[data-novi-id="134"] {
  font-weight: 700;
}

[data-novi-id="133"] {
  
  text-transform: uppercase;
}

[data-novi-id="132"] {
  color: #ffffff;
  text-transform: capitalize;
}

[data-novi-id="131"] {
  color: #333;

}

[data-novi-id="130"] {
  color: #050505;
  text-transform: uppercase;
}

[data-novi-id="129"] {
  color: #030303;
  text-transform: uppercase;
}

[data-novi-id="128"] {
  color: #030303;
  text-transform: uppercase;
}

[data-novi-id="127"] {
  font-size: 31px;
  font-weight: 300;

}

[data-novi-id="126"] {
  color: #333;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
}

[data-novi-id="125"] {
  font-weight: 700;
  
  color: rgb(13, 13, 13);
}

[data-novi-id="124"] {
  font-weight: 700;
  
}

[data-novi-id="123"] {
  font-weight: 700;
}

[data-novi-id="122"] {
  font-weight: 700;
}

[data-novi-id="121"] {
  font-weight: 700;
}

[data-novi-id="118"] {
  font-weight: 700;
  font-size: 56px;
  font-size: 37px;
}

[data-novi-id="117"] {
  font-size: 31px;
  font-weight: 700;
}

[data-novi-id="116"] {
  font-weight: 700;
  font-size: 31px;
}

[data-novi-id="115"] {
  font-size: 31px;
  font-weight: 700;
}

[data-novi-id="114"] {
  font-weight: 700;
  font-size: 31px;
}

[data-novi-id="113"] {
  font-size: 31px;
  text-transform: capitalize;
  font-weight: 700;
}

[data-novi-id="112"] {
  font-weight: 700;
  font-weight: 700;
}

[data-novi-id="111"] {

  font-weight: 700;



  text-transform: capitalize;

  font-size: 31px;


}

[data-novi-id="110"] {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 31px;

}

[data-novi-id="109"] {
  text-align: justify;
}

[data-novi-id="108"] {
  text-align: justify;
}

[data-novi-id="107"] {
  text-align: justify;
}

[data-novi-id="106"] {
  text-align: justify;
}

[data-novi-id="105"] {
  text-align: justify;
}

[data-novi-id="104"] {
  text-align: justify;
}

[data-novi-id="103"] {
  text-align: justify;
}

[data-novi-id="102"] {
  text-align: justify;
}

[data-novi-id="101"] {
  text-align: justify;
}

[data-novi-id="100"] {
  text-align: justify;
}

[data-novi-id="99"] {
  text-align: justify;
}

[data-novi-id="98"] {
  text-align: justify;
}

[data-novi-id="97"] {
  text-align: justify;
}

[data-novi-id="96"] {
  text-align: justify;
}

[data-novi-id="95"] {
  text-align: justify;
}

[data-novi-id="94"] {
  text-align: justify;
}

[data-novi-id="93"] {
  font-size: 16px;
  font-weight: 100;

}

[data-novi-id="92"] {
  font-size: 30px;
  text-align: justify;
}

[data-novi-id="91"] {
  text-align: center;
}

[data-novi-id="90"] {
  font-size: 25px;
  font-weight: 700;
}

[data-novi-id="89"] {
  font-weight: 700;
}

[data-novi-id="88"] {
  font-weight: 700;
  text-align: center;
}

[data-novi-id="87"] {
  font-weight: 700;
  text-align: center;
}

[data-novi-id="86"] {
  font-weight: 700;
  font-weight: 700;
}

[data-novi-id="85"] {
  font-weight: 700;
  font-weight: 700;
}

[data-novi-id="84"] {
  font-weight: 400;
  font-weight: 700;





}

[data-novi-id="83"] {
  font-size: 36px;
}

[data-novi-id="82"] {
  font-size: 16px;
}

[data-novi-id="81"] {
  font-size: 16px;
}

[data-novi-id="80"] {
  font-size: 16px;
}

[data-novi-id="79"] {
  font-size: 16px;
}

[data-novi-id="78"] {
  color: rgba(36, 39, 49, 1);
  font-size: 16px;
}

[data-novi-id="77"] {
  color: #333;
  font-size: 16px;
}

[data-novi-id="76"] {
  color: #333;
}

[data-novi-id="76"] {
  font-size: 16px;
  color: #333;
  text-align: right;
}

[data-novi-id="75"] {
  font-size: 16px;

  text-align: justify;

}

[data-novi-id="64"] {
  font-size: 16px;
  color: #333;
  text-align: right;
}

[data-novi-id="63"] {
  color: #333;
  text-align: justify;
  text-align: justify;
}

[data-novi-id="62"] {
  color: #333;
  text-align: justify;
  text-align: justify;
}

[data-novi-id="38"] {
  color: #333;
  color: #333;
  text-transform: capitalize;
  font-weight: 700;
  font-weight: 700;
  color: rgb(49, 35, 17);
}

[data-novi-id="38"] {
  color: #333;

}

[data-novi-id="38"] {
  color: #333;
  text-transform: capitalize;
}

[data-novi-id="57"] {
  color: rgb(10, 10, 10);
  text-transform: none;
}

[data-novi-id="56"] {
  color: #333;
}

[data-novi-id="56"] {
  color: #333;
  text-transform: capitalize;
}

[data-novi-id="56"] {
  color: #333;

}

[data-novi-id="56"] {
  text-align: justify;
  color: #333;
}

[data-novi-id="55"] {
  color: rgb(15, 15, 15);
  text-transform: uppercase;
}

[data-novi-id="54"] {
  color: #333;
  font-size: 32px;
}

[data-novi-id="53"] {
  color: #333;

}

[data-novi-id="53"] {
  color: #333;
  text-transform: capitalize;
}

[data-novi-id="45"] {
  color: rgb(10, 10, 10);
  font-size: px;
  text-align: justify;
}

[data-novi-id="44"] {
  text-align: justify;
  color: #333;
}

[data-novi-id="38"] {
  color: rgb(15, 15, 15);
}

[data-novi-id="46"] {
  color: #333;
  text-transform: capitalize;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-weight: 700;

}

[data-novi-id="45"] {
  color: #333;
  font-size: 16px;
}

[data-novi-id="44"] {
  color: #333;

}

[data-novi-id="44"] {
  color: #333;
  text-transform: capitalize;
}

[data-novi-id="40"] {
  color: #333;
  text-transform: capitalize;
  font-size: 33px;
  letter-spacing: -0.2px;
  line-height: 36px;
}

[data-novi-id="38"] {
  text-align: justify;
  color: #333;
}

[data-novi-id="37"] {
  
  color: rgba(241, 255, 254, 0.97);
  text-align: left;
  
  font-size: 26px;
  
  
}

[data-novi-id="74"] {
  text-align: justify;
  text-align: justify;
  font-weight: 700;
  font-size: 31px;
}

[data-novi-id="73"] {
  font-weight: 700;
  font-weight: 700;
}

[data-novi-id="72"] {
  font-size: 36px;
  font-weight: 400;
  color: #000;
}

[data-novi-id="71"] {
  font-weight: 400;
  font-size: 16px;
}

[data-novi-id="70"] {
  font-weight: 400;
  font-size: 16px;
}

[data-novi-id="69"] {
  color: #fff;
  font-size: 24px;
}

[data-novi-id="68"] {
  color: #fff;
  font-weight: 700;
}

[data-novi-id="67"] {
  color: rgba(36, 39, 49, 1);
  font-size: 16px;
}

[data-novi-id="66"] {
  color: #333;
  font-size: 16px;
}

[data-novi-id="65"] {
  color: #333;
}

[data-novi-id="64"] {
  color: #333;
}

[data-novi-id="63"] {
  color: #333;
}

[data-novi-id="62"] {
  color: #333;
}

[data-novi-id="61"] {
  color: #333;
  text-align: right;
}

[data-novi-id="60"] {
  color: #333;
  text-align: right;
}

[data-novi-id="59"] {
  color: #333;
  text-align: justify;
}

[data-novi-id="58"] {
  color: #333;
  text-align: justify;
  text-align: justify;
}

[data-novi-id="57"] {
  color: #333;
}

[data-novi-id="56"] {
  color: #333;
}

.page .icon-primary[data-novi-id="55"] {
  color: #333;
}

[data-novi-id="54"] {
  color: #333;
}

[data-novi-id="53"] {
  color: #333;
}

[data-novi-id="52"] {
  color: #000;
  text-transform: capitalize;
  
  font-weight: 700;
  font-weight: 400;
  
  
  
}

[data-novi-id="51"] {
  color: #333;
  text-transform: uppercase;
  font-size: 56px;
  font-size: 10px;
}

[data-novi-id="50"] {
  color: rgba(111, 114, 125, 1);
  text-transform: capitalize;
  
  font-size: 16px;
  font-weight: 700;
  
}

[data-novi-id="49"] {
  color: #333;
  text-transform: none;
  color: #000;
}

[data-novi-id="48"] {
  color: #333;
  text-transform: uppercase;
  color: #030303;
}

[data-novi-id="47"] {
  color: #333;
  text-transform: capitalize;
  color: #030303;
}

[data-novi-id="46"] {
  color: #333;
}

[data-novi-id="45"] {
  color: #333;
}

[data-novi-id="44"] {
  color: #333;
}

[data-novi-id="43"] {
  color: #333;

  text-align: justify;
  font-weight: 700;
}

[data-novi-id="42"] {
  color: #333;
  text-align: justify;
}

[data-novi-id="41"] {
  color: #333;
  font-size: 14px;
}

[data-novi-id="40"] {
  color: #333;

}

[data-novi-id="39"] {
  color: #333;
  font-size: 12px;
  font-style: italic;
}

[data-novi-id="38"] {
  color: rgb(49, 25, 12);
  font-size: 42px;
}

.page .icon-primary[data-novi-id="37"] {
  color: #333;
}

[data-novi-id="36"] {
  color: #333;
  color: #030303;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
}

[data-novi-id="35"] {
  color: #333;
  font-size: 33px;
  letter-spacing: -0.2px;
  line-height: 36px;
}

[data-novi-id="34"] {
  color: #333;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

[data-novi-id="33"] {
  color: #333;
}

[data-novi-id="32"] {
  color: #333;
}

[data-novi-id="31"] {
  color: #333;
}

[data-novi-id="30"] {

  color: #030303;

  

  

  

  

  

}

[data-novi-id="29"] {
  color: #fff;
  color: #030303;
}

[data-novi-id="28"] {
  color: #000;
  
  font-weight: 700;
  
}

[data-novi-id="27"] {
  color: #fff;
  font-style: italic;
}

[data-novi-id="26"] {
  font-size: 14px;
}

[data-novi-id="4"] {
  text-align: left;
  color: #333;
}

[data-novi-id="3"] {
  text-align: left;
  color: #333;
}

[data-novi-id="25"] {
  font-size: 14px;
}

[data-novi-id="24"] {
  font-size: 14px;
}

[data-novi-id="23"] {
  font-size: 14px;
}

[data-novi-id="22"] {
  font-size: 14px;
}

[data-novi-id="21"] {
  font-size: 14px;
}

[data-novi-id="20"] {
  font-size: 14px;
}

[data-novi-id="19"] {
  font-size: 14px;
  font-size: 14px;
}

[data-novi-id="18"] {
  font-size: 14px;
}

[data-novi-id="17"] {
  font-size: 14px;
}

[data-novi-id="16"] {
  font-size: 14px;
}

[data-novi-id="15"] {
  font-size: 14px;
}

[data-novi-id="14"] {
  font-size: 14px;
}

[data-novi-id="13"] {
  font-size: 14px;
}

[data-novi-id="12"] {
  font-size: 14px;
}

[data-novi-id="11"] {
  font-size: 14px;
}

[data-novi-id="10"] {
  font-size: 14px;
}

[data-novi-id="9"] {
  font-size: 14px;
}

[data-novi-id="8"] {
  color: #333;
}

[data-novi-id="7"] {
  color: #333;
}

[data-novi-id="6"] {
  color: #333;
}

[data-novi-id="5"] {
  color: #333;
  text-transform: capitalize;
  font-size: 37px;
}

[data-novi-id="2"] {
  text-align: left;
  color: #333;
}

[data-novi-id="1"] {
  color: rgb(15, 15, 15);
  text-transform: uppercase;
}

[data-novi-id="0"] {
  color: rgb(10, 10, 10);
  text-transform: none;
}




@media (max-width: 800px) {
  .logotipo {
    max-height: 3rem !important;
    margin-top: -2% !important;

  }

  #letrasBanner {
    font-size: 0.5rem;
  }

}

@media (min-width: 1600px) and (max-width: NaNpx) {
  [data-novi-id="120"] {
    font-weight: 400;
    font-weight: 400;
    font-size: 22px;
    font-size: 28px;
    font-size: 30px;
  }

  [data-novi-id="115"] {
    font-size: 29px;
    font-size: 30px;
    font-size: 26px;
    font-size: 27px;
    font-size: 29px;
    font-size: 30px;
  }

  [data-novi-id="119"] {
    font-size: 13px;
    font-size: 14px;
    font-size: 15px;
  }
}